<div style="background-image: url(../assets/Img/WhatsApp\ Image\ 2020-09-24\ at\ 3.32.29\ PM.jpeg);">
<div align="center">
<H1 align="CENTER"> <b> HEALTH CARE SYSTEM </b></H1>
<img src="../assets/Img/plus-icons-free-download-png-and-svg-plus-icon-png-256_256.png" >
<br>
<h2 align="CENTER">DIAGNOSTIC CENTER MANAGMENT</h2>
<br>
<button  class="btn btn-info" align="right" >
  
<a style="text-decoration: none; color:cornsilk" routerLink="/home" >ClICk HERE </a>
</button>

<br>
<br>

<br>
    <router-outlet></router-outlet>

 </div>
 <div align="center">
<><><><><><><>

</div>
<div align="center">
    <>
    <>
    <>
    <>
    <>
    <>
 
 </div>
 
<div >
    

</div>
</div>

