
<div align="center">
  <div class="w3-show-inline-block">
   <button class="btn btn-info" >
   <a style="text-decoration: none; color:cornsilk;"   routerLink="/add-center" routerLinkActive="active">Add CENTER</a>
  </button>
  
  <button  class="btn btn-info">
    <a style="text-decoration: none; color:cornsilk" routerLink="/list-center" routerLinkActive="active">LIST OF CENTER </a>
  </button>
  
  <button  class="btn btn-info">
    
  <a style="text-decoration: none; color:cornsilk" routerLink="/search-center" routerLinkActive="active">SEARCH CENTER </a>
  </button>
  <br>
  <br>
  
  
      <router-outlet></router-outlet>
      </div>
      
   </div> 
